.nav {
    position: fixed;
    top: 38px;
    right: 100px;
    display: flex;
    align-items: center;
    gap: 30px;
    z-index: 1000;
    padding: 8px 25px;
    background: black;
    backdrop-filter: blur(8px);
    justify-content: center;
}

.top-info {
    display: flex;
    flex-direction: column;
}

.nav-item {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Noto Sans TC;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 12px;
    transition: opacity 0.3s ease;
    line-height: 1; 
    text-align: center;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown > .nav-item {
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    min-width: 110px;
    border-radius: 8px;
    padding: 8px 0;
    margin-top: 8px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    transform: translateY(-10px);
}

.dropdown.active .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-content a {
    display: block;
    color: #FFFFFF;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Navigation styles */
.nav.scrolled {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.hamburger {
    display: none;
    right: 50px;
    position: absolute;
    top: 10px;
}

.hamburger img {
    width: auto;
    height: 50px;
    top: 10px;
    right: 50px;
    position: absolute;
}

@media (max-width: 768px) {
    .nav {
        display: none; /* 預設隱藏 */
        flex-direction: column;
        width: 100%; /* 佔滿全寬 */
        position: fixed; /* 改成絕對定位 */
        top: 75px; /* 距離頂部 */
        left: 0; /* 靠右 */
        background: black; /* 背景顏色 */
        padding: 8px 0; /* 上下內邊距 */
    }

    .hamburger {
        display: flex; /* 漢堡選單顯示 */
    }
}
